<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 50px 0px 0px 20px;">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
 <tr >
<td align="center" bgcolor="#ccffff" >
 <img src="https://videowiki.wmflabs.org/img/logo.png " alt="Logo" title="Logo"  style="display: block;text-align:center;" /> 
</td>
 </tr>
 <tr>
  <td bgcolor="#ffffff">
   <table border="0" cellpadding="0" cellspacing="0" width="100%" height="300">
 <tr>
  <td style="text-align:center;color: #333;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;">
    <br>
    <%= content %>
    <br>
    <% if (typeof extraContent === 'string') { %>
    <small><strong><%= extraContent %></strong></small>
    <% } %>
  </td>
 </tr>
 <tr>
  <td style="padding: 20px 10px 30px 10px;text-align:center;    color: #333;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;" >
   
   <a href="<%= acceptURL %>" target="_blank" style="background: #28a73f linear-gradient(-180deg,#34d058 0%,#28a745 90%);
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: normal;
    margin: 0 auto;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    width: auto!important;" >Accept</a>

	<a href="<%= declineURL %>" target="_blank" style="background: gray;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: normal;
    margin: 0 auto;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    width: auto!important;" >Decline</a>
	<p>

 <% if (typeof(whatsappUrl) === 'string' && whatsappUrl) { %>

      <br />
      <a href="<%= whatsappUrl %>" target="_blank" style="background: #28a73f linear-gradient(-180deg,#34d058 0%,#28a745 90%);
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: normal;
        margin: 0 auto;
        padding: 6px 12px;
        text-align: center;
        text-decoration: none;
        width: auto!important;" ><%= whatsappButtonTitle %></a>

    <% } %>	
	<br>

  </td>
 </tr>
 <tr>
  <td style="text-align:center">
    <% if (note) { %>
   	<p style="color: #333;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;" >
        <span style=" font-weight: bold;">Note: </span> 
        <%= note %>
    </p>
    <% } %>
  </td>
 </tr>
</table>
  </td>
 </tr>
 <tr>
  <td bgcolor="#72e772" height="50" style="text-align:center">
   <p style="color: #333;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;" >Copyright © 2020 VideoWiki. All rights reserved.</p>
  </td>
 </tr>
</table>
</body>
</html>