<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 50px 0px 0px 20px;">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
 <tr >
<td align="center" bgcolor="#ccffff" >
 <img src="https://videowiki.wmflabs.org/img/logo.png " alt="Logo" title="Logo"  style="display: block;text-align:center;" /> 
</td>
 </tr>
 <tr>
  <td bgcolor="#ffffff" style="padding: 20px;">
    <div>
      <p>
          <strong><%= fromUser %></strong> from <strong>"<%= organizationName %>"</strong> invited you to: 
      </p>
      <% if (textTranslationInvitations.length > 0) { %>
        <p>Translate text of:</p>
        <ul>
          <% for (let i=0; i<textTranslationInvitations.length; i++) { %>
            <li style="text-align:left;color: #333;
              font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
              font-size: 14px;
              line-height: 20px;">
              <a href="<%= textTranslationInvitations[i].acceptURL %>" target="_blank"><%= textTranslationInvitations[i].videoTitle %></a> from <%= textTranslationInvitations[i].fromLang %> to <%= textTranslationInvitations[i].toLang %>.
            </li>
          <% } %>
      </ul>
      <% } %>
      <% if (verifyTranslationInvitations.length > 0) { %>
        <p>Verify translations of:</p>
        <ul>
          <% for (let i=0; i<textTranslationInvitations.length; i++) { %>
            <li style="text-align:left;color: #333;
              font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
              font-size: 14px;
              line-height: 20px;">
              <a href="<%= textTranslationInvitations[i].acceptURL %>" target="_blank"><%= textTranslationInvitations[i].videoTitle %></a> from <%= textTranslationInvitations[i].fromLang %> to <%= textTranslationInvitations[i].toLang %>.
            </li>
          <% } %>
        </ul>
      <% } %>
      <br />
      <p style="color: #333;
        font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;" ><span style=" font-weight: bold;">Note: </span> This email was intended for <%= toUser %>. If you were not expecting this email, you can ignore it. </p>

    </div>
  </td>
 </tr>
 <tr>
  <td bgcolor="#72e772" height="50" style="text-align:center">
   <p style="color: #333;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;" >Copyright © 2020 VideoWiki. All rights reserved.</p>
  </td>
 </tr>
</table>
</body>
</html>